.theme-light,
.theme-dark {
  --color-button-default-bg: var(--theme-foreground);
  --color-button-default-text: var(--theme-background);
  --color-button-default-bg-hover: var(--theme-text-primary);
  --color-button-default-text-hover: var(--theme-background);

  --color-button-destructive-bg: var(--theme-error);
  --color-button-destructive-text: 0 0% 98%;
  --color-button-destructive-bg-hover: var(--theme-error-text);

  --color-button-outline-bg: transparent;
  --color-button-outline-text: var(--theme-foreground);
  --color-button-outline-border: var(--theme-border);
  --color-button-outline-bg-hover: var(--theme-surface-alt);
  --color-button-outline-text-hover: var(--theme-foreground);

  --color-button-secondary-bg: var(--theme-secondary);
  --color-button-secondary-text: var(--theme-secondary-foreground);
  --color-button-secondary-bg-hover: var(--theme-subtle);

  --color-button-ghost-bg-hover: var(--theme-surface-alt);
  --color-button-ghost-text-hover: var(--theme-foreground);

  --color-button-link-text: var(--theme-primary);
}

.theme-dark {
  --color-button-default-bg-hover: var(--color-brand-zinc-200);
  --color-button-default-text-hover: var(--color-brand-zinc-900);
  --color-button-destructive-bg-hover: 0 63% 42%;
}
