.theme-light,
.theme-dark {
  --color-table-footer-bg: var(--theme-surface-alt);
  --color-table-row-bg-hover: var(--theme-surface-alt);
  --color-table-row-bg-selected: var(--theme-muted);
  --color-table-head-text: var(--theme-text-secondary);
  --color-table-caption-text: var(--theme-text-secondary);
}
